{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Update Team Members</h4>
                      
                      <form class="forms-sample" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="form-group">
                          <label for="LogoName">Name</label>
                          <input type="text" class="form-control" id="LogoName" name="name" placeholder="Name" value="{{team.name}}">
                        </div>
                        <div class="form-group">
                            <label for="LogoName">Designation</label>
                            <input type="text" class="form-control" id="LogoName" name="designation" placeholder="Name" value="{{team.designation}}">
                          </div>
                        
                        <div class="form-group">
                          <label>Current Client Logo</label><br>
                          {% if team.image %}
                              <img src="{{ team.image.url }}" alt="Current Image" style="width: 150px; height: 150px;">
                              <br>
                              
                          {% else %}
                              <p>No image available</p>
                          {% endif %}
                      </div>
                        <div class="form-group">
                            <label for="imageFile">Image</label><br>
                            <input type="file" class="form-control-file" id="imageFile" name="image" accept="image/*">
                        </div>
                  
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <!-- <button class="btn btn-light">Cancel</button> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            {% endblock %}