{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="{% url 'index' %}">Home</a></li>
                        <li><span>About</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title">About Us</h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
            <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->


        <section class="about-two section-space">
            <div class="container">
                <div class="row gutter-y-60">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="about-two__image">
                            <img src="{% static 'assets/images/about-2-1.jpg' %}" alt="about image" class="about-two__image__one">
                            <img src="{% static 'assets/images/sir.jpg' %}" alt="about image" class="about-two__image__two">
                            <img src="{% static 'assets/images/about-shape-2-1.png' %}" alt="shape" class="about-two__image__shape-one">
                            <div class="about-two__image__shape-box"></div><!-- /.about-two__image__shape-box -->
                        </div><!-- /.about-two__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="about-two__content">
                            <div class="sec-title wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <h6 class="sec-title__tagline">About Metailearn</h6><!-- /.sec-title__tagline -->
                                <h3 class="sec-title__title"> Empowering 
                                    <span class="sec-title__title__shape">the Future </span> <br> of  <span class="sec-title__title__text">Tech Talent</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="about-two__description wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <p class="about-two__text">Founded in 2017 by Mr.Dalvy Mathew, a distinguished Senior Cybersecurity Expert and Missile & Space Security Specialist, Metailearn has grown into one of the most trusted names in IT training and skill development.
                                    With a deep-rooted passion for technology and a vision to bridge the gap between academic learning and industry demands, Mr.Dalvy established Metailearn to shape the next generation of tech professionals. Under his leadership, the company has become a launchpad for aspiring talents in fields like Cybersecurity, Cloud Computing, AI & Machine Learning, Software Development, and beyond.
                                </p><!-- /.about-two__text -->
                            </div><!-- /.about-two__description -->
                            <div class="about-two__row row">
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Flexible Course Plan</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Educator Support</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Expert mentors</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Lifetime Access</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                            </div><!-- /.about-two__row row -->
                            <div class="about-two__button wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <a href="{% url 'about' %}" class="eduhive-btn">
                                    <span>About us</span>
                                    <span class="eduhive-btn__icon">
                                        <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                                    </span>
                                </a><!-- /.eduhive-btn -->
                            </div><!-- /.about-two__button -->
                        </div><!-- /.about-two__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row gutter-y-60 -->
            </div><!-- /.container -->
        </section><!-- /.about-two section-space -->

        <section class="funfact-one funfact-one--round">
            <div class="container">
                <div class="funfact-one__grid">
                    <div class="funfact-one__item funfact-one__item--secondary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="funfact-one__icon">
                            <span class="funfact-one__icon__inner"><i class="icon-connectibity"></i></span>
                        </div><!-- /.funfact-one__icon -->
                        <h3 class="funfact-one__title count-box">
                            <span class="count-text" data-stop="30" data-speed="1500">0</span>
                            <span>k+</span>
                        </h3><!-- /.funfact-one__title -->
                        <p class="funfact-one__text">Satisfied Student</p><!-- /.funfact-one__text -->
                    </div><!-- /.funfact-one__item -->
                    <div class="funfact-one__item funfact-one__item--primary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="funfact-one__icon">
                            <span class="funfact-one__icon__inner"><i class="icon-batch-assign"></i></span>
                        </div><!-- /.funfact-one__icon -->
                        <h3 class="funfact-one__title count-box">
                            <span class="count-text" data-stop="6500" data-speed="1500">0</span>
                            <span>+</span>
                        </h3><!-- /.funfact-one__title -->
                        <p class="funfact-one__text">Class Completed</p><!-- /.funfact-one__text -->
                    </div><!-- /.funfact-one__item -->
                    <div class="funfact-one__item funfact-one__item--secondary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="funfact-one__icon">
                            <span class="funfact-one__icon__inner"><i class="icon-students"></i></span>
                        </div><!-- /.funfact-one__icon -->
                        <h3 class="funfact-one__title count-box">
                            <span class="count-text" data-stop="6561" data-speed="1500">0</span>
                            <span>+</span>
                        </h3><!-- /.funfact-one__title -->
                        <p class="funfact-one__text">Active Students</p><!-- /.funfact-one__text -->
                    </div><!-- /.funfact-one__item -->
                    <div class="funfact-one__item funfact-one__item--primary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <div class="funfact-one__icon">
                            <span class="funfact-one__icon__inner"><i class="icon-instructors"></i></span>
                        </div><!-- /.funfact-one__icon -->
                        <h3 class="funfact-one__title count-box">
                            <span class="count-text" data-stop="400" data-speed="1500">0</span>
                            <span>+</span>
                        </h3><!-- /.funfact-one__title -->
                        <p class="funfact-one__text">Experts Instructors</p><!-- /.funfact-one__text -->
                    </div><!-- /.funfact-one__item -->
                </div><!-- /.rfunfact-one__grid -->
            </div><!-- /.container -->
        </section><!-- /.funfact-one -->

        <section class="online-class section-space-bottom">
            <div class="online-class__inner">
                <div class="online-class__inner__bg" style="background-image: url(static/assets/images/shapes/online-class-bg-1-1.png);">
                </div><!-- /.online-class__inner__bg -->
            </div><!-- /.online-class__inner -->
            <div class="container">
                
                <div class="online-class__content">
                    <div class="sec-title sec-title--center wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <h6 class="sec-title__title">What sets Metailearn </h6><!-- /.sec-title__tagline -->
                        <h3 class="sec-title__title"><span> apart is its</span> <span class="sec-title__title__shape">real-world</span> <span> training approach</span> <span class="sec-title__title__text">learning</span></h3><!-- /.sec-title__title -->
                    </div><!-- /.sec-title -->
                    <div class="online-class__description wow fadeInUp" data-wow-duration="1500ms">
                        <p class="online-class__text">Designed by industry veterans and tailored for future-ready skills. Our programs blend cutting-edge knowledge with hands-on experience, ensuring learners are not only certified but also confident and job-ready.
                            Whether you're a student aiming to kickstart your tech career, a working professional seeking upskilling, or an enterprise looking for custom training solutions, Metailearn is your gateway to next-gen tech excellence.

                        </p><!-- /.online-class__text -->
                    </div><!-- /.online-class__description -->
                    <div class="online-class__class-wrapper">
                        <div class="online-class__class wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                            <div class="online-class__class__icon online-class__class__icon--audio">
                                <span class="online-class__class__icon__inner">
                                    <i class="icon-speaker-filled-audio-tool"></i>
                                </span>
                            </div><!-- /.online-class__class__icon -->
                            <h4 class="online-class__class__title">Audio classes</h4><!-- /.online-class__class__title -->
                        </div><!-- /.online-class__class -->
                        <div class="online-class__class wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                            <div class="online-class__class__icon online-class__class__icon--live">
                                <span class="online-class__class__icon__inner">
                                    <i class="icon-live-streaming"></i>
                                </span>
                            </div><!-- /.online-class__class__icon -->
                            <h4 class="online-class__class__title">live classes</h4><!-- /.online-class__class__title -->
                        </div><!-- /.online-class__class -->
                        <div class="online-class__class wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                            <div class="online-class__class__icon online-class__class__icon--recorded">
                                <span class="online-class__class__icon__inner">
                                    <i class="icon-clapperboard"></i>
                                </span>
                            </div><!-- /.online-class__class__icon -->
                            <h4 class="online-class__class__title">recorded classes</h4><!-- /.online-class__class__title -->
                        </div><!-- /.online-class__class -->
                    </div><!-- /.online-class__class-wrapper -->
                </div><!-- /.online-class__content -->
            </div><!-- /.container -->
            <div class="online-class__shape"></div><!-- /.online-class__shape -->
            <div class="online-class__box"></div><!-- /.online-class__box -->
        </section><!-- /.online-class section-space-bottom -->

        <section class="offer-one section-space-top">
            <div class="container">
                <div class="row gutter-y-60">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="offer-one__image">
                            <img src="{% static 'assets/images/offer-1-1.jpg' %}" alt="offer image" class="offer-one__image__one">
                            <img src="{% static 'assets/images/offer-1-2.jpg' %}" alt="offer image" class="offer-one__image__two">
                            <img src="{% static 'assets/images/offer-shape-1-1.png' %}" alt="offer shape" class="offer-one__image__shape">
                        </div><!-- /.offer-one__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="offer-one__content">
                            <div class="sec-title wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <h6 class="sec-title__tagline">who we are</h6><!-- /.sec-title__tagline -->
                                <h3 class="sec-title__title"><span class="sec-title__title__shape">We Offer</span> The <span class="sec-title__title__text">Best Carrier</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <p class="offer-one__item__text">At Metailearn, we don’t just teach—we transform learners into industry-ready professionals.
                                 Our unique approach combines expertise, innovation, and community to deliver unparalleled tech education.</p><br>
                            <div class="offer-one__inner">
                                <div class="offer-one__item wow fadeInUp" data-wow-duration="1500ms">
                                    <div class="offer-one__item__icon offer-one__item__icon--primary">
                                        <i class="icon-instructors"></i>
                                    </div><!-- /.offer-one__item__icon -->
                                    <div class="offer-one__item__content">
                                        <h4 class="offer-one__item__title">Industry Expert Instructor</h4>
                                        <p class="offer-one__item__text">Our instructors are seasoned professionals like Mr. Dalvy Mathew (Founder & Senior Cybersecurity Expert), who bring real-world experience from top-tier industries.</p>
                                    </div><!-- /.offer-one__item__content -->
                                </div><!-- /.offer-one__item -->
                                <div class="offer-one__item wow fadeInUp" data-wow-duration="1500ms">
                                    <div class="offer-one__item__icon offer-one__item__icon--secondary">
                                        <i class="icon-copy-writing"></i>
                                    </div><!-- /.offer-one__item__icon -->
                                    <div class="offer-one__item__content">
                                        <h4 class="offer-one__item__title">Up-to-Date Course Content</h4>
                                        <p class="offer-one__item__text">Our curriculum is continuously updated to reflect the latest industry trends, tools, and certifications. Whether it’s Cybersecurity, AI, or Cloud Computing.</p>
                                    </div><!-- /.offer-one__item__content -->
                                </div><!-- /.offer-one__item -->
                                <div class="offer-one__item wow fadeInUp" data-wow-duration="1500ms">
                                    <div class="offer-one__item__icon offer-one__item__icon--base">
                                        <i class="icon-community"></i>
                                    </div><!-- /.offer-one__item__icon -->
                                    <div class="offer-one__item__content">
                                        <h4 class="offer-one__item__title">Biggest Student Community</h4>
                                        <p class="offer-one__item__text">Join a thriving network of 10,00+ learners, alumni, and industry experts.
                                             Metailearn’s community fosters collaboration and career growth through: </p>
                                    </div><!-- /.offer-one__item__content -->
                                </div><!-- /.offer-one__item -->
                            </div><!-- /.offer-one__inner -->
                        </div><!-- /.offer-one__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row gutter-y-60 -->
            </div><!-- /.container -->
            <div class="offer-one__shape-box"></div><!-- /.offer-one__shape -->
        </section><!-- /.offer-one section-space-top -->

        <section class="testimonials-three section-space2" id="testimonials">
            <div class="testimonials-three__bg" style="background-image: url(static/assets/images/shapes/testimonials-bg-3-1.png);">
            </div><!-- /.testimonials-three__bg -->
            <div class="container">
                <div class="sec-title sec-title--center wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                    <h6 class="sec-title__tagline">our testimonials</h6><!-- /.sec-title__tagline -->
                    <h3 class="sec-title__title">people <span class="sec-title__title__text">say about</span> <span class="sec-title__title__shape">eduhive</span></h3><!-- /.sec-title__title -->
                </div><!-- /.sec-title -->
                <div class="testimonials-three__carousel eduhive-owl__carousel eduhive-owl__carousel--basic-nav eduhive-owl__carousel--with-shadow owl-theme owl-carousel" data-owl-options='{
            "items": 3,
            "margin": 30,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": 6000,
            "nav":true,
            "dots":false,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1,
                    "margin": 10
                },
                "768":{
                    "items": 2,
                    "margin": 30
                },
                "1200":{
                    "items": 3,
                    "margin": 30
                }
              }
            }'>
                    <div class="item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="testimonial-card-three">
                            <div class="testimonial-card-three__image">
                                <img src="{% static 'assets/images/testimonial-3-1.jpg' %}" alt="Michael G. Ware">
                            </div>
                            <div class="testimonial-card-three__content">
                                <div class="testimonial-card-three__icon">
                                    <span class="icon-quote"></span>
                                </div><!-- /.testimonial-card-three__icon -->
                                <div class="testimonial-card-three__identity">
                                    <h5 class="testimonial-card-three__name">Michael G. Ware</h5>
                                    <p class="testimonial-card-three__designation">managing director</p>
                                </div><!-- /.testimonial-card-three__identity -->
                                <p class="testimonial-card-three__quote">Eduhive Agency Company Also Impressed Us With Their Transpa Regarding Costs. The Initial Quote Was</p><!-- /.testimonial-card-three__quote -->
                                <div class="eduhive-ratings">
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                </div><!-- /.product-ratings -->
                            </div><!-- /.testimonial-card-three__content -->
                        </div><!-- /.testimonial-card-three -->
                    </div><!-- /.owl-slide-item-->
                    <div class="item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="testimonial-card-three">
                            <div class="testimonial-card-three__image">
                                <img src="{% static 'assets/images/testimonial-3-2.jpg' %}" alt="Sarah Albert">
                            </div>
                            <div class="testimonial-card-three__content">
                                <div class="testimonial-card-three__icon">
                                    <span class="icon-quote"></span>
                                </div><!-- /.testimonial-card-three__icon -->
                                <div class="testimonial-card-three__identity">
                                    <h5 class="testimonial-card-three__name">Sarah Albert</h5>
                                    <p class="testimonial-card-three__designation">managing director</p>
                                </div><!-- /.testimonial-card-three__identity -->
                                <p class="testimonial-card-three__quote">Flexible Classes Refers To The Process Of Acquiring Is Knowledge Free Or Skills Through The Use</p><!-- /.testimonial-card-three__quote -->
                                <div class="eduhive-ratings">
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                </div><!-- /.product-ratings -->
                            </div><!-- /.testimonial-card-three__content -->
                        </div><!-- /.testimonial-card-three -->
                    </div><!-- /.owl-slide-item-->
                    <div class="item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="testimonial-card-three">
                            <div class="testimonial-card-three__image">
                                <img src="{% static 'assets/images/testimonial-3-3.jpg' %}" alt="Kevin Martin">
                            </div>
                            <div class="testimonial-card-three__content">
                                <div class="testimonial-card-three__icon">
                                    <span class="icon-quote"></span>
                                </div><!-- /.testimonial-card-three__icon -->
                                <div class="testimonial-card-three__identity">
                                    <h5 class="testimonial-card-three__name">Kevin Martin</h5>
                                    <p class="testimonial-card-three__designation">managing director</p>
                                </div><!-- /.testimonial-card-three__identity -->
                                <p class="testimonial-card-three__quote">There Are Many Variations Of Passages, But The Majority Have Suffered Alteradution In Some Form</p><!-- /.testimonial-card-three__quote -->
                                <div class="eduhive-ratings">
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                    <span class="eduhive-ratings__icon">
                                        <i class="fa fa-star"></i>
                                    </span><!-- /.eduhive-ratings__icon -->
                                </div><!-- /.product-ratings -->
                            </div><!-- /.testimonial-card-three__content -->
                        </div><!-- /.testimonial-card-three -->
                    </div><!-- /.owl-slide-item-->
                </div><!-- /.thm-owl__slider -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/shapes/testimonial-shape-3-1.png' %}" alt="shape" class="testimonials-three__shape-one">
            <img src="{% static 'assets/images/shapes/testimonial-shape-3-2.png' %}" alt="shape" class="testimonials-three__shape-two">
            <img src="{% static 'assets/images/shapes/testimonial-shape-3-3.png' %}" alt="shape" class="testimonials-three__shape-three">
            <div class="testimonials-three__shape-box"></div><!-- /.testimonials-three__shape-box -->
        </section><!-- /.testimonials-three section-space2 -->

        <section class="instructors-three section-space2" id="instructors">
            <div class="container">
                <div class="sec-title sec-title--center wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                    <h6 class="sec-title__tagline">our expert team</h6><!-- /.sec-title__tagline -->
                    <h3 class="sec-title__title">Our <span class="sec-title__title__text">expert</span> <span class="sec-title__title__shape">instructor</span></h3><!-- /.sec-title__title -->
                </div><!-- /.sec-title -->
                <div class="instructors-three__carousel eduhive-owl__carousel eduhive-owl__carousel--with-shadow eduhive-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
            "items": 1,
            "margin": 10,
            "loop": true,
            "smartSpeed": 700,
            "nav": false,
            "dots": true,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "autoplay": true,
            "responsive": {
                "0": {
                    "items": 1,
                    "nav": true,
                    "dots": false,
                    "margin": 10
                },
                "576": {
                    "items": 2,
                    "margin": 30
                },
                "992": {
                    "items": 3,
                    "margin": 30
                },
                "1200": {
                    "items": 4,
                    "margin": 30,
                    "dots": false
                }
            }
        }'>
                    <div class="item">
                        <div class="instructor-card-three instructor-card-three--top-identity wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="{% static 'assets/images/instructor-3-1.jpg' %}" alt="Anthony B. Castillo">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Youtube</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">Anthony B. Castillo</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">Digital marketer</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="{% static 'assets/images/instructor-3-2.jpg' %}" alt="david cooper">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Youtube</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">david cooper</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">Sr. Manager</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three instructor-card-three--top-identity wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="{% static 'assets/images/instructor-3-1.jpg' %}" alt="Anthony B. Castillo">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Youtube</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">Anthony B. Castillo</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">Digital marketer</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="{% static 'assets/images/instructor-3-2.jpg' %}" alt="david cooper">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Youtube</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">david cooper</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">Sr. Manager</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three instructor-card-three--top-identity wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="{% static 'assets/images/instructor-3-3.jpg' %}" alt="kevin martin">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Youtube</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">kevin martin</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">Founder & CEO</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="instructor-card-three wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="instructor-card-three__image">
                                <div class="instructor-card-three__image__inner">
                                    <img src="{% static 'assets/images/instructor-3-4.jpg' %}" alt="Adlof Carone">
                                    <div class="instructor-card-three__social social-links-two">
                                        <div class="social-links-two__item">
                                            <a href="https://facebook.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://twitter.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://instagram.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                        <div class="social-links-two__item">
                                            <a href="https://youtube.com">
                                                <span class="social-links-two__icon">
                                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                                </span><!-- /.social-links-two__icon -->
                                                <span class="sr-only">Youtube</span>
                                            </a>
                                        </div><!-- /.social-links-two__item -->
                                    </div><!-- /.instructor-card-three__social -->
                                </div><!-- /.instructor-card-three__image__inner -->
                            </div><!-- /.instructor-card-three__image -->
                            <div class="instructor-card-three__identity">
                                <h3 class="instructor-card-three__name">
                                    <a href="instructor-details.html">Adlof Carone</a>
                                </h3><!-- /.instructor-card-three__name -->
                                <p class="instructor-card-three__designation">UI/UX Designer</p><!-- /.instructor-card-three__designation -->
                            </div><!-- /.instructor-card-three__identity -->
                        </div><!-- /.instructor-card-three -->
                    </div><!-- /.item -->
                </div><!-- /.instructors-three__carousel -->
            </div><!-- /.container -->
        </section><!-- /.instructors-three section-space2 -->


        {% endblock %}