{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="page-header">
    <div class="container">
        <div class="page-header__content">
            <ul class="eduhive-breadcrumb list-unstyled">
                <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="{% url 'index' %}">Home</a></li>
                <li><span>blog </span></li>
            </ul><!-- /.eduhive-breadcrumb list-unstyled -->
            <h2 class="page-header__title"> Our Blog </h2>
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
    <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
    <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
    <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
    <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
</section><!-- /.page-header -->


<section class="blog-page section-space">
    <div class="container">
        <div class="blog-page__carousel eduhive-owl__carousel eduhive-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
            "items": 1,
            "margin": 10,
            "loop": true,
            "smartSpeed": 700,
            "nav": false,
            "dots": true,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "autoplay": true,
            "responsive": {
                "0": {
                    "items": 1,
                    "nav": true,
                    "dots": false,
                    "margin": 10
                },
                "768": {
                    "items": 2,
                    "margin": 30
                },
                "992": {
                    "items": 3,
                    "margin": 30
                }
            }
        }'>
            {% for item in blog %}
            <div class="item">
                <div class="blog-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                    <div class="blog-card__image">
                        <img src="{{ item.main_image.url }}" alt="{{ item.blog_heading }}">
                        <a href="{% url 'blog_details' item.id %}" class="blog-card__image__link">
                            <span class="sr-only">{{ item.blog_heading }}</span>
                        </a>
                        {% if item.date %}
                        <div class="blog-card__date">
                            <span class="blog-card__date__day">{{ item.date.day }}</span>
                            <span class="blog-card__date__month">{{ item.date|date:"M" }}</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="blog-card__content">
                        <ul class="list-unstyled blog-card__meta">
                            <li>
                                <a href="{% url 'blog_details' item.id %}">
                                    <span class="blog-card__meta__icon">
                                        <i class="far fa-user"></i>
                                    </span>
                                    by Admin
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'blog_details' item.id %}">
                                    <span class="blog-card__meta__icon">
                                        <i class="icon-comments"></i>
                                    </span>
                                    0 Comments
                                </a>
                            </li>
                        </ul>
                        <h3 class="blog-card__title">
                            <a href="{% url 'blog_details' item.id %}">{{ item.blog_heading }}</a>
                        </h3>
                        <a href="{% url 'blog_details' item.id %}" class="blog-card__link">
                            Read More
                            <span class="blog-card__link__icon">
                                <span class="blog-card__link__icon__inner">
                                    <i class="icon-arrow-right"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


        {% endblock %}