{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="page-header">
    <div class="container">
        <div class="page-header__content">
            <ul class="eduhive-breadcrumb list-unstyled">
                <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="{% url 'index' %}">Home</a></li>
                <li><span>contact</span></li>
            </ul><!-- /.eduhive-breadcrumb list-unstyled -->
            <h2 class="{% url 'contact' %}">Contact Us</h2>
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
    <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
    <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
    <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
    <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
</section><!-- /.page-header -->


        <section class="contact-page section-space">
            <div class="container">
                <div class="row gutter-y-40">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="contact-page__content">
                            <div class="contact-page__content__bg" style="background-image: url(static/assets/images/shapes/contact-form-bg-1-1.png);"></div>
                            <!-- /.contact-page__content__bg -->
                            <div class="contact-page__content__image">
                                <img src="{% static 'assets/images/contact-1-1.jpg' %}" alt="contact">
                            </div><!-- /.contact-page__content__image -->
                            <div class="contact-page__content__inner">
                                <div class="sec-title">
                                    <h6 class="sec-title__tagline">get in touch</h6><!-- /.sec-title__tagline -->
                                    <h3 class="sec-title__title">just say <span>hello!</span></h3><!-- /.sec-title__title -->
                                </div><!-- /.sec-title -->
                                <ul class="list-unstyled contact-page__info">
                                    <li>
                                        <div class="contact-page__info__icon">
                                            <span class="contact-page__info__icon__inner">
                                                <i class="icon-telephone"></i>
                                            </span><!-- /.contact-page__info__icon__inner -->
                                        </div><!-- /.contact-page__info__icon -->
                                        <div class="contact-page__info__content">
                                            <h3 class="contact-page__info__title">call now</h3>
                                            <a href="tel:+91 8714975439" class="contact-page__info__text">+91 8714975439, 8590051541</a>
                                        </div><!-- /.contact-page__info__content -->
                                    </li>
                                    <li>
                                        <div class="contact-page__info__icon">
                                            <span class="contact-page__info__icon__inner">
                                                <i class="icon-paper-plane"></i>
                                            </span><!-- /.contact-page__info__icon__inner -->
                                        </div><!-- /.contact-page__info__icon -->
                                        <div class="contact-page__info__content">
                                            <h3 class="contact-page__info__title">Email</h3>
                                            <a href="mailto:support@metailearn.com" class="contact-page__info__text contact-page__info__text--email">support@metailearn.com</a>
                                        </div><!-- /.contact-page__info__content -->
                                    </li>
                                    <li>
                                        <div class="contact-page__info__icon">
                                            <span class="contact-page__info__icon__inner">
                                                <i class="icon-location"></i>
                                            </span><!-- /.contact-page__info__icon__inner -->
                                        </div><!-- /.contact-page__info__icon -->
                                        <div class="contact-page__info__content">
                                            <h3 class="contact-page__info__title">address</h3>
                                            <a href="https://www.google.com/maps/place/Metailearn/@10.0207218,76.3527591,17z/data=!3m1!4b1!4m6!3m5!1s0x3b080dbc233df261:0x7699df6ca1372eeb!8m2!3d10.0207218!4d76.3527591!16s%2Fg%2F11wc2mmbqv?entry=ttu&g_ep=EgoyMDI1MDUwNS4wIKXMDSoASAFQAw%3D%3D" class="contact-page__info__text">Metailearn
                                                Kannattu Square Kakkanad Pallikara road, Kakkanad Athani junction Kusumagiri P O Ernakulam, Kakkanad, Kerala, pin 682030</a>
                                        </div><!-- /.contact-page__info__content -->
                                    </li>
                                </ul><!-- /.list-unstyled -->
                                <div class="contact-page__student">
                                    <div class="contact-page__student__inner">
                                        <div class="contact-page__student__image">
                                            {% for testimonial in testimonials %}
                                                <img src="{{ testimonial.image.url }}" alt="{{ testimonial.name }}">
                                            {% endfor %}
                                        </div><!-- /.contact-page__student__image -->
                                        <p class="contact-page__student__text">{{ testimonials|length }} Happy student’s</p>
                                    </div><!-- /.contact-page__student__inner -->
                                </div><!-- /.contact-page__student -->
                            </div><!-- /.contact-page__content__inner -->
                        </div><!-- /.contact-page__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST" class="contact-page__form contact-form-validated form-one">
                            {% csrf_token %}
                            <div class="form-one__group">
                                <div class="form-one__control form-one__control--full">
                                    <input type="text" name="name" placeholder="Full Name" required>
                                </div>
                                <div class="form-one__control form-one__control--full">
                                    <input type="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="form-one__control form-one__control--full">
                                    <input type="tel" name="phone" placeholder="Phone Number">
                                </div>
                                <div class="form-one__control form-one__control--full">
                                    <textarea name="comment" placeholder="Write Message..."></textarea>
                                </div>
                                <div class="form-one__control form-one__control--full">
                                    <button type="submit" class="eduhive-btn">
                                        <span>submit now</span>
                                        <span class="eduhive-btn__icon"><i class="icon-right-up"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="contact-page__form__image">
                                <img src="{% static 'assets/images/contact-1-2.jpg' %}" alt="contact">
                            </div>
                        </form>
                        
                        {% if success %}
                            <div class="alert alert-success mt-3">Thank you! Your message has been submitted successfully.</div>
                        {% endif %}
                        
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row gutter-y-40 -->
            </div><!-- /.container -->
        </section><!-- /.contact-page section-space -->

        <section class="contact-map">
            <div class="container-fluid">
                <div class="google-map google-map__contact">
                    <iframe
                        title="Google Map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.0179892636913!2d76.3527591!3d10.0207218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080dbc233df261%3A0x7699df6ca1372eeb!2sMetailearn!5e0!3m2!1sen!2sin!4v1712661856623!5m2!1sen!2sin"
                        width="100%"
                        height="450"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </section>

         
        {% endblock %}