{% extends "base.html" %}
{% load static %}

{% block content %}
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="index.html">Home</a></li>
                        <li><span>our FAQ</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title">our FAQ</h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
            <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->

        <section class="faq-page-search section-space-bottom">
            <div class="container">
                <div class="faq-page-search__content wow fadeInUp" data-wow-duration="1500ms">
                    <h2 class="faq-page-search__title">Search Your Questions Queries here</h2>
                    <!-- /.faq-page-search__title -->
                    <form action="#" class="faq-page-search__form">
                        <input type="text" id="error-search" placeholder="Search Here" />
                        <button type="submit" class="faq-page-search__form__btn" aria-label="search submit">
                            <i class="icon-search"></i>
                        </button>
                    </form><!-- /.faq-page-search__form -->
                </div><!-- /.faq-page-search__content -->
            </div><!-- /.container -->
        </section><!-- /.faq-page-search section-space-bottom -->

        <section class="faq-page section-space">
            <div class="container">
                <div class="row gutter-y-50">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="faq-page__image">
                            <img src="{% static 'assets/images/faq/faq-3-1.jpg' %}" alt="faq">
                        </div><!-- /.faq-page__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="faq-page__accordion">
                            <div class="faq-accordion eduhive-accordion" data-grp-name="eduhive-accordion">
                                <div class="accordion wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="accordion-title">
                                        <h4>
                                            Do you offer a warranty for your work?
                                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                        </h4>
                                    </div><!-- /.accordion-title -->
                                    <div class="accordion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                                have suffered alteration in some form, by injected humour, or randomised words
                                                which don't look even slightly believable.</p>
                                        </div><!-- /.inner -->
                                    </div><!-- /.accordion-content -->
                                </div><!-- /.accordion-item -->
                                <div class="accordion wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="50ms">
                                    <div class="accordion-title">
                                        <h4>
                                            Can you help with tile selection and design?
                                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                        </h4>
                                    </div><!-- /.accordion-title -->
                                    <div class="accordion-content">
                                        <div class="inner">
                                            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                                                anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                                                generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                        </div><!-- /.inner -->
                                    </div><!-- /.accordion-content -->
                                </div><!-- /.accordion-item -->
                                <div class="accordion active wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="accordion-title">
                                        <h4>
                                            What types of tiles are available from a tiles company?
                                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                        </h4>
                                    </div><!-- /.accordion-title -->
                                    <div class="accordion-content">
                                        <div class="inner">
                                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the</p>
                                        </div><!-- /.inner -->
                                    </div><!-- /.accordion-content -->
                                </div><!-- /.accordion-item -->
                                <div class="accordion wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="150ms">
                                    <div class="accordion-title">
                                        <h4>
                                            How do I choose the right tiles for my project?
                                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                        </h4>
                                    </div><!-- /.accordion-title -->
                                    <div class="accordion-content">
                                        <div class="inner">
                                            <p>Prior to joining company, she spent 20+ years at Inmosys, where he held a wide
                                                range of global leadership roles, from services to products, and across
                                                operations and sales. Most recently, he was SVP & Global Head of the
                                                Manufacturing busines.</p>
                                        </div><!-- /.inner -->
                                    </div><!-- /.accordion-content -->
                                </div><!-- /.accordion-item -->
                                <div class="accordion wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                                    <div class="accordion-title">
                                        <h4>
                                            Are there eco-friendly tile options available?
                                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                        </h4>
                                    </div><!-- /.accordion-title -->
                                    <div class="accordion-content">
                                        <div class="inner">
                                            <p>You can find him dining late at night with the chefs of the hotels where he stays
                                                during his travels across operations and sales. Most recently, he was SVP &
                                                Global.</p>
                                        </div><!-- /.inner -->
                                    </div><!-- /.accordion-content -->
                                </div><!-- /.accordion-item -->
                            </div><!-- /.faq-accordion -->
                        </div><!-- /.faq-page__accordion -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row gutter-y-50 -->
            </div><!-- /.container -->
        </section><!-- /.faq-page section-space -->
        {% endblock %}