{% extends "base.html" %}
{% load static %}

{% block content %}
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="index.html">Home</a></li>
                        <li><span>Our Instructors</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title">Our Instructors 01</h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
            <img src="assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
            <img src="assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->

        <section class="instructors-page section-space">
            <div class="container">
                <div class="row gutter-y-30">
                    {% for member in team_members %}
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="instructor-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
                            <div class="instructor-card__social">
                                <span class="instructor-card__social__share">
                                    <i class="icon-share"></i>
                                </span>
                                <div class="instructor-card__social__list">
                                    <a href="https://facebook.com">
                                        <span class="instructor-card__social__list__icon">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </span>
                                        <span class="sr-only">Facebook</span>
                                    </a>
                                    <a href="https://linkedin.com">
                                        <span class="instructor-card__social__list__icon">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </span>
                                        <span class="sr-only">Linkedin</span>
                                    </a>
                                    <a href="https://instagram.com">
                                        <span class="instructor-card__social__list__icon">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </span>
                                        <span class="sr-only">Instagram</span>
                                    </a>
                                </div>
                            </div>
                            <div class="instructor-card__image">
                                <img src="{{ member.image.url }}" alt="{{ member.name }}">
                                <div class="instructor-card__hover">
                                    <div class="instructor-card__info">
                                        <h3 class="instructor-card__name">
                                            <a href="#">{{ member.name }}</a>
                                        </h3>
                                        <h6 class="instructor-card__designation">{{ member.designation }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <p>No instructors available.</p>
                    {% endfor %}
                </div>
                
            </div><!-- /.container -->
        </section><!-- /.instructors-page section-space -->

        {% endblock %}