{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="login-page section-space">
            <div class="container">
                <div class="row gutter-y-50 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="login-page__image">
                            <div class="login-page__image__inner">
                                <img src="{% static 'assets/images/resources/login-1-1.jpg' %}" alt="login">
                            </div><!-- /.login-page__image__inner -->
                        </div><!-- /.login-page__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <form class="login-page__form">
                            <div class="login-page__form__inner">
                                <div class="login-page__form__top">
                                    <img src="{% static 'assets/images/resources/login-logo-1-1.png' %}" alt="logo" width="167" class="login-page__form__logo">
                                    <h3 class="login-page__form__title">Welcome! register for your account</h3>
                                </div><!-- /.login-page__form__top -->
                                <div class="login-page__form__wrapp">
                                    <div class="login-page__form__input-box">
                                        <label for="login_email_or_phone" class="login-page__form__label">Register</label>
                                        <input type="text" id="login_email_or_phone" placeholder="Email or phone number">
                                    </div>
                                    <div class="login-page__form__input-box">
                                        <label for="login_password" class="login-page__form__label">Password</label>
                                        <div class="login-page__form__input-box__inner">
                                            <input type="password" id="login_password" placeholder="Enter password" class="toggle-password-input">
                                            <i class="toggle-password-icon fa fa-fw fa-eye-slash"></i>
                                        </div>
                                    </div>
                                    <div class="login-page__form__input-box login-page__form__input-box--3">
                                        <label class="login-page__form__checked-box" for="remember-policy">
                                            <input type="checkbox" name="remember-policy" id="remember-policy">
                                            <span></span>
                                            I accept company privacy policy.
                                        </label>
                                    </div>
                                    <div class="login-page__form__input-box login-page__form__input-box--4">
                                        <button type="submit" class="login-page__form__btn eduhive-btn eduhive-btn--normal">Register</button>
                                    </div>
                                </div><!-- /.login-page__form__wrapp -->
                                <div class="login-page__form__bottom">
                                    <button type="button" class="login-page__form__signin-google">
                                        <img src="{% static 'assets/images/shapes/google.png' %}" alt="google">
                                        Or sign in with Google
                                    </button>
                                    <p class="login-page__form__register-text">Already have an account? <a href="login.html">log in</a>
                                    </p>
                                </div><!-- /.login-page__form__bottom -->
                            </div><!-- /.login-page__form__inner -->
                        </form><!-- /.login-page__form -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row gutter-y-50 -->
            </div><!-- /.container -->
        </section><!-- /.login-page section-space -->

        {% endblock %}