{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="login-page section-space">
            <div class="container">
                <div class="row gutter-y-50 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="login-page__image">
                            <div class="login-page__image__inner">
                                <img src="{% static 'assets/images/login-1-1.jpg' %}" alt="login">
                            </div><!-- /.login-page__image__inner -->
                        </div><!-- /.login-page__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <form class="login-page__form" method="POST" action="{% url 'user_login' %}">
                            {% csrf_token %}
                            
                            {% if messages %}
                              <ul class="messages" style="list-style: none; padding: 0;">
                                {% for message in messages %}
                                  <li class="{{ message.tags }}" style="color: red; margin-bottom: 10px;">
                                    {{ message }}
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                        
                            <div class="login-page__form__inner">
                                <div class="login-page__form__top">
                                    <img src="{% static 'assets/images/Metalogo.png' %}" alt="logo" width="167" class="login-page__form__logo">
                                    <h3 class="login-page__form__title">Nice to see you again</h3>
                                </div><!-- /.login-page__form__top -->
                        
                                <div class="login-page__form__wrapp">
                                    <div class="login-page__form__input-box">
                                        <label for="login_email_or_phone" class="login-page__form__label">Login</label>
                                        <input type="text" id="login_email_or_phone" name="username" placeholder="Email or phone number" required>
                                    </div>
                        
                                    <div class="login-page__form__input-box">
                                        <label for="login_password" class="login-page__form__label">Password</label>
                                        <div class="login-page__form__input-box__inner">
                                            <input type="password" id="login_password" name="password" placeholder="Enter password" class="toggle-password-input" required>
                                            <i class="toggle-password-icon fa fa-fw fa-eye-slash"></i>
                                        </div>
                                    </div>
                        
                                    <div class="login-page__form__input-box login-page__form__input-box--4">
                                        <button type="submit" class="login-page__form__btn eduhive-btn eduhive-btn--normal">Sign in</button>
                                    </div>
                                </div><!-- /.login-page__form__wrapp -->
                            </div><!-- /.login-page__form__inner -->
                        </form><!-- /.login-page__form -->
                        
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row gutter-y-50 -->
            </div><!-- /.container -->
        </section><!-- /.login-page section-space -->


        
         
        {% endblock %}